.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

#form_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100dvh;
  top: 0;
  left: 0;
  background-color: var(--off-white-transparent);
}

.form_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: 25px;
  width: 100%;
  max-width: 400px;

  background-color: var(--white);
  border-radius: 10px;
}

.form_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;

  & img {
    width: 80px;
    height: 80px;
  }

  & p {
    color: var(--off-white);
    font-weight: 600;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  gap: 20px;

  & div {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;
  }

  & label {
    font-weight: bold;
  }

  & textarea {
    resize: none;
    padding: 5px 10px;
    width: 100%;
    height: 90px;

    font-size: 0.9rem;
    color: var(--text-color);

    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--bg-color);

    outline: 1px solid transparent;
  }

  & .footer_buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;

    & .secondary {
      border: 1px solid var(--off-white);
      background-color: var(--bg-color);
      color: var(--text-color);
    }
  }
}

.mensagem {
  margin-top: 8px;
  color: red;
  font-size: 0.9rem;
}