.main {
    display: flex;
    flex-direction: column;

    padding: 20px;

    & .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        & .header_logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
        }

        & .header_buttons {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        & img {
            height: 50px;
            width: 50px;
        }
    }
}