.main {
    display: flex;
    flex-direction: column;

    padding: 20px;

    & .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        & .header_logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
        }

        & .header_buttons {
            display: flex;
            flex-direction: row;
            gap: 10px;

            & .secondary {
                border: 1px solid var(--off-white);
                background-color: var(--bg-color);
                color: var(--text-color);
            }
        }

        & img {
            height: 50px;
            width: 50px;
        }
    }
}