.main {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;

    & .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding-bottom: 15px;
        box-shadow: 0px 1px 0px var(--off-white-400);

        & img {
            width: 50px;
            height: 50px;
        }

        & .header_logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            & p {
                color: var(--off-white);
            }
        }

        & .header_buttons {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }

    & .tickets_info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 0;

        & p {
            color: var(--off-white);
        }
    }

    & .search_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        & .search_bar {
            flex: 3;
        }

        & .search_buttons {
            display: flex;
            flex-direction: row;
            gap: 10px;
            flex: 1;
        }
    }

    & .dashboard_container {
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: 60dvh;
        margin-top: 20px;
        font-size: 0.9rem;
        border: 1px solid var(--off-white-400);

        & .ticket_table {
            width: 100%;
            text-align: left;
            border: none;
            border-radius: 12px;
            border-collapse: collapse;

            & thead {
                font-weight: 600;
                color: var(--text-color);

                & th {
                    padding: 10px;
                    border-bottom: 1px solid var(--off-white-400);
                }

                & .col_titulo {
                    width: 300px;
                    max-width: 400px;
                }
            }

            & tbody {
                & .badge {
                    padding: 5px 10px;
                    border-radius: 12px;
                    font-weight: 600;
                    font-size: 0.8rem;
                }

                & .prioridade_baixa {
                    background-color: var(--white);
                    border: 1px solid var(--off-white-transparent);
                }

                & .prioridade_media {
                    background-color: var(--off-white-transparent);
                    color: var(--black);
                }

                & .prioridade_alta {
                    background-color: var(--black);
                    color: var(--white);
                }

                & .prioridade_critica {
                    background-color: var(--red);
                    color: var(--white);
                }

                & tr {
                    border-bottom: 1px solid var(--off-white-400);
                }

                & td {
                    padding: 10px;

                    & svg {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}
