button {
  font-size: 0.9rem;
  padding: 6px 10px;

  width: 100%;
  max-width: 450px;
  min-width: fit-content;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary {
  color: var(--white);
  background-color: var(--black);
}

.primary:hover {
  background-color: var(--off-black);
}

.secondary {
  border: 1px solid var(--off-white);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.secondary:hover {
  background-color: var(--off-white-transparent);
}