* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui, sans-serif;
}

:root {
  --bg-color: #f9fff9;
  --text-color: #000000;
  --white: #ffffff;
  --black: #000000;
  --off-black: #515966;
  --off-white: #a0a0a0;
  --off-white-transparent: #a0a0a080;
}

body {
  display: flex;
  flex-direction: column;

  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
}

h2 {
  font-size: 1.3rem;
  color: var(--text-color);
}

p {
  font-size: 0.9rem;
  color: var(--text-color);
}

label {
  font-size: 0.9rem;
  color: var(--text-color);
  font-weight: bold;
}

a {
  text-decoration: none;
  cursor: pointer;
}